<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add Robot</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Create a Robot:</h1>

<div class="row">
    <div class="container">
        <div class="col-md-6 ">

            <form th:action="@{/robots/newRobot}"
                  th:object="${robotForm}" method="POST">

                <label for="name" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-9">
                <input type="text" id="name" class="form-control" th:field="*{name}"/>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="type" class="col-sm-3 control-label">Type:</label>
                    <div class="col-sm-9">
                        <select id="type" name="type" class="form-control">
                            <option th:value="C3PO">C3PO</option>
                            <option th:value="R2D2">R2D2</option>
                        </select>
                    </div>
                </div>


                <br/>
                <button type="submit" class="btn btn-primary" name="create" value="Create Robot">Create Robot</button>

            </form>
            <br/>
        </div>
    </div>
</div>

<!-- Check if errorMessage is not null and not empty -->

<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--style="color:red;font-style:italic;">-->
<!--...-->
<!--</div>-->
<div th:replace="fragments/footer :: footer"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>