<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Robots</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        function checkboxHandler(checkboxId) {
            let element = document.getElementById(checkboxId);
            if (element.checked) {
                element.value = "${robotID}"
            } else {
                element.value = null
            }
        }

    </script>


</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h3>Robots List</h3>
    <form th:action="@{/robots} " th:object="${taskForm}" method="POST" class="form-horizontal">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Energy</th>
                <th>Strength</th>
                <th>Agility</th>
                <th>Intellect</th>
                <th>Task</th>
            </tr>
            <tbody>
            <tr th:each="robot : ${robots}">
                <td th:utext="${robot.name}">Name</td>
                <td th:utext="${robot.energy}">Energy</td>
                <td th:utext="${robot.strength}">Strength</td>
                <td th:utext="${robot.agility}">Agility</td>
                <td th:utext="${robot.intellect}">Intellect</td>
                <td>
                    <input th:type="checkbox" th:name="robotsId" th:id="robotsId" th:value="${robot.id}"
                           onclick="checkboxHandler(checkbox.id)"/>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="control-group col-md-4">
            <label for="task" class="control-label">Choose the task</label>
            <select id="task" name="task" class="form-control">
                <option th:each="task : ${tasks}" th:value="${task}" th:text="${task}">Wireframe</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-primary" value="Create Task">Create Task</button>
            <a href="/robots/newRobot" class="btn btn-primary">Create Robot </a>
        </div>
    </form>
    <br/>
</div>
<br/>
<br/>


<div class="container">
    <h4>Log robot activity</h4>
    <table id="logger" class="table-condensed col-md-6">

        <thead>
        <tr>
            <th>Name</th>
            <th>Task</th>
        </tr>
        </thead>
        <tbody id="log">
        <tr>
            <script>
                setInterval(function () {
                    $.ajax({
                        method: "GET",
                        url: "/api/robots/",
                        success: function (data) {
                            $("tbody[id=log]").empty();
                            $.each(data, function (key, value) {
                                var name = value.name;
                                var task = value.task;
                                if (task === "" || task == null) task = "waiting for the task";
                                $("tbody[id=log]").append(
                                    "<tr>" +
                                    "<td>" + name + "</td>" +
                                    "<td>" + task + "</td>" +
                                    "</tr>"
                                )
                            })
                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data)
                        }
                    })
                }, 1000)
            </script>
        </tr>
        </tbody>
    </table>
    <br/>
</div>

<br/>
<br/>


<div th:replace="fragments/footer :: footer"></div>


</body>
</html>

